<div class="l-dashboard-filters">
  <h2>Country</h2>
  <select name="cities" id="cities">
    <option value="-3.7,40.41">Madrid</option>
    <option value="1.44,43.60">Toulouse</option>
    <option value="13.41,52.52">Berlin</option>
  </select>

  <h2>Amount</h2>
  <select name="amount" id="amount">
    <option value="3000">3000 usd</option>
    <option value="5000">5000 usd</option>
    <option value="100000">10000 usd</option>
  </select>

  <h2>Status</h2>
  <select name="status" id="status">
    <option value="project">project</option>
    <option value="on going">on going</option>
    <option value="finish">finish</option>
  </select>
</div>
