<div id="dashboard" class="l-dashboard">
  <div class="m-dashboard-header">
    <h1>Projects</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias ipsa ea sint, dignissimos optio quos enim ex nisi molestiae consectetur.</p>
  </div>

  <div class="l-projects-amount">
    <div id="dashboardCounter"></div>
  </div>

  <div class="l-dashboard-filters">
    <div id="dashboardFilters"></div>
  </div>

  <div class="l-dashboard-sort">
    <div id="dashboardSorting"></div>
  </div>

  <div class="l-dashboard-list">
    <div id="dashboardList"></div>
  </div>

</div>

<div id="map" class="l-map"></div>
